@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');

:root{
    --font1: font-family: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Akaya Telivigala', cursive;

    --cor1: #99ADC2;
    --cor2: #5F90C2;
    --cor3: #5D6975;
    --cor4: #45688C;
    --cor5: #343B42;
}
*{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    background-color: black;
    color: white;
    border-radius: 5px;
}
body{    
    background-color: var(--cor1);
    font-family: var(--font1);
    background-image: url(../imagem/fundo.png);
    background-size: 200px;
}


/**/
.header{
    background-image: url(../imagem/gado.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
}
.header > h1{
    text-align: center;
    font-family: var(--font2);
    color: black;
    font-size: 5em;
    line-height: 300px;
}
.header > a{
    text-align: center;
    font-family: var(--font2);
    color: black;
    font-size: 2.5em;
    line-height: 300px;
}
@media(max-width: 800px){
    .header{
        height: 140px;
        background-size: 70vh;
        background-color: var(--cor2);
        font-size: 0.7em;
    }
    .header > h1{
        line-height: 200px;
    }
    .header > a{
        line-height: 200px;
    }
}

/**/
.main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:  
    "pago pago"
    "lista controle"
    "relatorio relatorio"
    ;
    max-width: 800px;
    margin: 0 auto;
}
.pago{
    grid-area: pago;
    text-align: center;
    font-family: var(--font2);
}
.valor{
    background-image: linear-gradient(to right, var(--cor5), var(--cor1));
    border-radius: 0 0 5px 5px;
    box-shadow: 5px 5px 13px var(--cor5);
    padding: 5px;
    font-size: 1.8em;
}
.itens{
    grid-area: lista;
    margin: 25px 10px;
    font-size: 1.4em;
    font-family: var(--font2);
}
.itens li{
    list-style: none;
    background-color: rgba(0, 0, 0, 0.300);
    padding: 5px;
    border-radius: 5px;
    margin: 3px;
}
.controle{
    grid-area: controle;
    display: flex;
    align-items: flex-start; /* importante para controlar a quantidade*/
    margin: 25px auto;
    margin-left: 115px;
    font-family: var(--font1);
    color: rgb(73, 4, 4);
    font-weight: bolder;
}
.mf{
    width: 120px;
    text-align: center;
    background-image: linear-gradient(to right, var(--cor5), transparent, var(--cor5));
    border-radius: 5px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.700);
    position: relative;
}
.mf:first-child{
    margin-right: 30px;
}
.controle span{
    display: block;
}
.qtd{
    font-size: 3em;
    line-height: 1em;
    margin: 0 auto;
    padding: 3px;
}
.rotulo{
    background-color: var(--cor5);
    color: white;
    border-radius: 0 0 5px 5px;
    padding: 5px 0;
    top: 2px;
}
.cont{
    grid-area: relatorio;
    display: flex;
    margin: 0 auto;
    font-family: var(--font2);
}
.rel{
    margin: 25px;
}
.imagemCad{
    max-width: 150px;
}
@media(max-width : 800px){
    .main{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "pago"
        "lista"
        "controle"
        "relatorio";
    }
    .pago{
        font-size: 0.7em;
    }
    .valor{
        border-radius: 0px;
    }
    .itens{
        display: block;
        margin: 20px 10px;
    }
    .controle{
        margin: 0 auto;
        font-size: 0.7em;
    }
    .rel{
        margin-left: 5px;
        max-width: 100px;
        font-size: 0.9em;
    }
    .imagemCad{
       max-width: 120px;
    }
}

/**/
.footer{
    background-image: linear-gradient(to right, var(--cor5), var(--cor1));
    padding: 20px;
    text-align: center;
    font-family: var(--font2);
    font-size: 1.2em;
}
@media (max-width: 450px){
    .footer{
        padding: 10px;
        font-size: 0.9em;
    }
}

/*Configuração adicional*/
/*CONFIGURAÇÃO PARA cadastro.hatml*/
.sidenav{
    text-align: center;
    font-family: var(--font2);
    font-size: 1.8em;
}
.ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.li{
    margin: 25px;
}
.sidenav  p{
    background-color: rgba(0, 0, 0, 0.300);
    border-radius: 5px;
    padding: 3px;
}
.linksid{
    margin: 0 50px;
}
.imgsid{
    max-width: 160px;
}
@media(max-width: 800px){
    .sidenav{
        position: relative;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }
    .sidenav .ul{
        display: flex;
    }
    .sidenav .ul .li{
        flex: 1 0 60px;
        padding: 0 10px;
    }
    .sidenav{/* criei um novo Sidenav aqui para posicionar o paddnig*/
        padding: 30px;
    }
    .imgsid{
        max-width: 80px;
    }
    .sidenav p{
        max-width: 150px;
    }
}

/*CONFIGURAÇÃO PARA compra.hatml*/
.dadoscompra{
    font-family: var(--font2);
    font-size: 1.5em;
    margin-top: 30px;
    margin-bottom: 30px;
}

.dados1{
    background-color: rgba(0, 0, 0, 0.300);
    margin: 5px;
    padding-left: 7px;
    max-width: 400px;
    border-radius: 5px;
}
.dados1 input{
    background-color: rgba(0, 0, 0, 0.300);
    color: white;
    font-weight: bolder;
}
.log{
    margin: 35px;
    font-family: var(--font2);
    font-size: 1.5em;
}
.btcad{
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.300);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.300);
    font-family: var(--font2);
    font-size: 0.9em;
    margin-left: 5px;
}
.btcad:hover{
    background-color: var(--cor5);
    color: var(--cor1);
}
@media(max-width: 800px){
    .dadoscompra{
        display: block;

    }
}

/*CONFIGURAÇÃO PARA relatorio.hatml*/
.qtdade{
    background-color: rgba(0, 0, 0, 0.300);
    padding: 20px;
    border-radius: 10px;
    margin-top: 30px;
    text-align: left;
}
.cabecalho{
    font-family: var(--font2);
    background-color: black;
    color: var(--cor1);
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}
.ddos{
    margin: 10px;
    font-weight: normal;
}
.descricao{
    margin: 5px;
    font-family: var(--font2);
}
.ajuste{
    margin-bottom: 30px;
}